<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<div id="title" class="slide header">
  <body style="background-color:black;">
  <h1 style="color:white;">Welcome!</h1>
  <h1 style="color:white;">This is my personal python project. Enjoy your stay!</h1>
</div>



<div id="slide1" class="slide">
  <div class="title">
    <h3 style="color:white;">This site displays a front-end of a python project.</h1>
    <p style="color:white;">The python machine collects data from Steam market, and does calculations on it. Right now, it tries to predict the prices of CSGO cases. (it's not very accurate.)</p>
  </div>
</div>

<h3 align="center"><a href=predictions ><button class=grey style="height:280px;width:640px">Let me show you!</button></a></h3>
<div>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
  <br>  </br>
</div>


<div>
<p  style="color:white;"> >Please do not DDoS me--... </p>
</div>
</html>
