
<html>
  <head>
  <style>
  h1 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  </style>
  </head>
  <body>
  <div id="title" class="slide header">
    <body style="background-color:black;">
    <h1 style="color:white;"> {{ variable  }}.</h1>
    {% autoescape false %}
    <p font-size: 10px; style="color:white;">{{ pricepredicts  }}</p>
    {% endautoescape%}
  <br></br>
  <br></br>
  <p align="center"><a href=predictions ><button class=grey style="height:180px;width:920px">See the predictions.</button></a></p>
  <p align="center"><a href=/ ><button class=grey style="height:180px;width:920px">Back to homepage.</button></a></p>
  
  </div>
  </html>
  
  
  
  
  